USE [master]
GO
/****** Object:  Database [Cellcom]    Script Date: 29/01/2026 8:40:57 ******/
CREATE DATABASE [Cellcom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cellcom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cellcom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cellcom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cellcom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cellcom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cellcom]
GO
/****** Object:  Table [dbo].[AllUsers]    Script Date: 29/01/2026 8:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllUsers](
	[ID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[UserPassword] [varbinary](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 29/01/2026 8:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyId] [nvarchar](50) NULL,
	[CurrencyName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginUsers]    Script Date: 29/01/2026 8:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUsers](
	[ID] [nvarchar](50) NOT NULL,
	[phoneNumber] [nvarchar](50) NOT NULL,
	[userpassword] [varbinary](32) NULL,
 CONSTRAINT [PK_LoginUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29/01/2026 8:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](50) NULL,
	[ProductName] [nvarchar](200) NULL,
	[Price] [decimal](18, 0) NULL,
	[Currency] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AllUsers] ([ID], [FullName], [PhoneNumber], [Address], [UserPassword]) VALUES (N'034548889', N'Nirit Fledman', N'0548184575', N'Ness Ziona 15 Petah Tikva', 0x77CE64D4F091D10F85AB1177767D62764CCA16E9952E785321A304153C499705)
GO
INSERT [dbo].[LoginUsers] ([ID], [phoneNumber], [userpassword]) VALUES (N'034548889', N'0548184575', 0x77CE64D4F091D10F85AB1177767D62764CCA16E9952E785321A304153C499705)
INSERT [dbo].[LoginUsers] ([ID], [phoneNumber], [userpassword]) VALUES (N'036568889', N'0548184575', 0xEF92B778BAFE771E89245B89ECBC08A44A4E166C06659911881F383D4473E94F)
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Currency], [ImageUrl]) VALUES (N'AirPods234235', N'AirPods Pro 3 (USB-C)', CAST(944 AS Decimal(18, 0)), N'NIS', N'/images/products/7e02a81d-c51a-4d3f-8c91-cfc2e59b3906.png')
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Currency], [ImageUrl]) VALUES (N'987695569AA', N'Samsung Galaxy S24FE', CAST(2219 AS Decimal(18, 0)), N'NIS', N'/images/products/96dfe397-fe26-4a7f-bfc8-3fab764942af.png')
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Currency], [ImageUrl]) VALUES (N'AsusVivoBook7AsusVivoBook7', N'AsusVivo Book7', CAST(2699 AS Decimal(18, 0)), N'NIS', N'/images/products/64670671-79eb-4ce7-aaec-2714bc80e577.png')
GO
USE [master]
GO
